/*
	CSS RULES Syntax: selector { property: value; }
*/


h1{
	color: yellow !important;
}

/*
1. universal selector - css reset and change font of every element in html
*/
/*css reset: */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*type selector*/
body{
	background-color: skyblue
}

/*attribute selector*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*class selector*/
.offering-item{
	text-transform: uppercase;
}

/*id selector*/
#zuitt-motto{
	letter-spacing: 5px;
}

/*CSS SELECTOR COMBINATORS*/
/*adjacent sibling selector*/

/*
sibling_element + target element{
	property: value;
}
*/

h3 + img{
	height:  300px;
	width: 300px;
	border-radius: 150px;
}

/*general sibling selector - sibling pero di katabi*/
/*
sibling_element ~ target_element{
	property:  value;
}
*/

h2 ~ a, a{
	text-decoration: none;
}

/*child selector*/
/*
	selector1 > selector2{
		style: properties;
	}
*/

body>section>form>label{
	color:  rgb(0,0,128);
}


/*descendant selector*/
/*
selector1 selector2{
	style:  properties;
}
*/

#bootcamp-learning-list li{
	color: #075966;
}

/**/

html {
	scroll-behavior: smooth;
}

/*navigation bar*/

nav{
	background-color: white;
}


/*selector:  hover pseudo class*/
/*changes the style when hovered over*/
a:hover{
	background-color: #b4d6de;
}

/*div for the navbar*/
div{
	display: inline-block;
	float: right;
}

/*landing section and form section*/
section{
	height: 100vh;
	text-align-last: center;
}

/*welcome to zuitt and register*/


h2{
	font-size: 1.5rem;
}
/*list:  remove number*/
ol{
	list-style-type: none;
}

/*register form*/

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}






































