* {
	font-family: "verdana", sans-serif;
	font-size: 20px;
}

h1{
	font-size: 50px;
}


#h2id{
	text-transform: uppercase;
}

.languages{
	background-color: lightgreen;
}

h3 + ol{
	list-style-type: 1;
}

#sec1 img{
	height:  100px;
	width: 100px;
	border-radius: 150px;
}


h4 ~ p{
	text-align: center;
}

body>section>ul{
	letter-spacing: 7px;
	list-style-type: none;
}

#p1{
	color: red;
}

#p2{
	color: orange;
}
#p3{
	color: yellow;
}
li[value]{
	border-width: 1px;
	border-style: solid;
	border-color: skyblue;
	width: 100%;
}


